.main-title{
	text-align: center;
	width: 100%;
}
.main-txt{
  margin: 0;
}
.rep{
  margin-bottom: 10px;
  border: 1px solid #aaa;
}

.content{
  background: #ddd;
  width: 40%;
  height: 100%;
  margin: auto;
  flex-wrap: wrap;
  align-content:flex-start;
  padding-bottom: 15px;
}
.main-cuerpo{
  width: 70%;
  align-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.5em;
}
h2{
  font-size: 2.5em;
}