.main-title{
  text-align: center;
  width: 100%;
}
.main-txt{
  margin: 0;
}
.content{
  background: #ddd;
  width: 500px;
  height: 100%;
  margin: auto;
  flex-wrap: wrap;
  align-content:flex-start;
  padding-bottom: 15px;
}
.main-cuerpo{
  width: 90%;
  align-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.5em;
}
h2{
  font-size: 2.5em;
}
.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-warning{
  color: red;
  font-size: 1em;
}
textarea{
  width: 400px;
  height: 100px;
  margin: 0;
}
.form input {
  width: 95%;
  height: 30px;
  margin: 0.5rem;
}
.button {
  padding: 0.5em 1em;
  cursor: pointer;
}
