<div *ngIf="(tipousuario=='admin'||tipousuario=='empleado')">
	<a class="main-header__btn" [routerLink]="['/crear-mascota']" routerLinkActive="active">Agregar mascota</a>
</div>
<div *ngIf="(tipousuario!=='admin'&&tipousuario!=='empleado')">
	<p class="product__txt"><b>ATENCION!</b> Esta pagina es solo informativa, de momento no es posible realizar la compra de ninguna mascota online, la adquicision de mascotas es unicamente en tienda fisica.</p>
</div>

<h2 class="main-title">Nuevas Mascotas</h2>

<section class="container-products">
	<div class="product__new" *ngFor="let nuevo of mascotas_nuevas | slice:0:4">
		<a class="product_link" routerLink="/mascota/{{nuevo._id}}" routerLinkActive="active">
			<img class="product__img" src="{{url+'get-image/'+nuevo.imagen}}" *ngIf="nuevo.imagen"/>
			<img class="product__img" src="./assets/img/no-disponible.png" *ngIf="!nuevo.imagen" />
			<div class="product__description">
				<h3 class="product__title">{{nuevo.raza}} {{nuevo.nombre}}</h3>
				<p class="product__txt"><b>En Stock:</b> {{nuevo.edad}}</p>
				<p class="product__txt"><b>Tipo de mascota:</b> {{nuevo.raza}}</p><br>
				<p class="product__txt"><b>Estado:</b> </p>
				<p [style.color]="nuevo.estado=='No Disponible' ? 'red': 'green'" class="product__estado">{{nuevo.estado}}</p>
			</div>
		</a>
	</div>
	<!--seccion de muestra-->
	<div class="product__new">
		<a class="product_link" href="">
		<img src="./assets/img/husky.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Husky. Bruno</h3>
			<p class="product__txt"><b>Edad:</b> 1 año</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Perro</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
	<div class="product__new">
		<a class="product_link" href="">
		<img src="./assets/img/gato2.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Gato. Linda</h3>
			<p class="product__txt"><b>Edad:</b> 3 meses</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Gato</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
	<div class="product__new">
		<a class="product_link" href="">
		<img src="./assets/img/periquitos.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Periquito. Max</h3>
			<p class="product__txt"><b>Edad:</b> 2 años</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Ave</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
</section>

<h2 class="main-title">Nuestras Mascotas</h2>
<section class="container-products">
	<div class="product" *ngFor=" let item of mascotas">
		<a class="product_link" routerLink="/mascota/{{item._id}}" routerLinkActive="active">
			<img class="product__img" src="{{url+'get-image/'+item.imagen}}" *ngIf="item.imagen"/>
			<img class="product__img" src="./assets/img/no-disponible.png" *ngIf="!item.imagen" />
			<div class="product__description">
				<h3 class="product__title">{{item.raza}} {{item.nombre}}</h3>
				<p class="product__txt"><b>En Stock:</b> {{item.edad}}</p>
				<p class="product__txt"><b>Tipo de mascota:</b> {{item.raza}}</p><br>
				<p class="product__txt"><b>Estado:</b> </p>
				<p [style.color]="item.estado=='No Disponible' ? 'red': 'green'" class="product__estado">{{item.estado}}</p>
			</div>
		</a>
	</div>
	<!--seccion de muestra-->
	<div class="product">
		<a class="product_link" href="">
		<img src="./assets/img/husky.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Husky. Bruno</h3>
			<p class="product__txt"><b>Edad:</b> 1 año</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Perro</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
	<div class="product">
		<a class="product_link" href="">
		<img src="./assets/img/gato2.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Gato. Linda</h3>
			<p class="product__txt"><b>Edad:</b> 3 meses</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Gato</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
	<div class="product">
		<a class="product_link" href="">
		<img src="./assets/img/periquitos.jpg" alt="" class="product__img">
		<div class="product__description">
			<h3 class="product__title">Periquito. Max</h3>
			<p class="product__txt"><b>Edad:</b> 2 años</p>
			<p class="product__txt"><b>Tipo de mascota:</b> Ave</p><br>
			<p class="product__txt"><b>Estado:</b> </p>
			<p class="product__estado">Disponible</p>
		</div>
		</a>
	</div>
</section>
