.main-header__btn{
  border: 1px solid #454546;
  color: #454546;
  display: block;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.product_link{
   text-decoration: none;
}
.product__title{
  color: black;
}
.product__txt{
  margin: 0;
  color: black;
}
.product__estado{
  margin: 0;
  color: #ff4e00;
  font-weight: bold;
}

  .main-header__btn:hover{
  cursor: pointer;
  background: #FF4E00;
  color: white;
  border-color: #FF4E00;
}