<header class="main-header">
      <div class="container container--flex">
        <div class="main-header__container">
          <h1 class="main-header__title" ><a [routerLink]="['/home']" routerLinkActive="active">Patitas felices</a></h1>
          <span class="icon-menu fas fa-bars" id="btn-menu"></span>
          <nav class="main-nav" id="main-nav">
            <ul class="menu">
              <li  class="menu__item"><a class="menu__link" [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
              <li  class="menu__item"><a class="menu__link" [routerLink]="['/mascotas']" routerLinkActive="active">Mascotas</a></li>
              <li  class="menu__item"><a class="menu__link" [routerLink]="['/productos']" routerLinkActive="active">Productos</a></li>
              <li  class="menu__item" *ngIf="tipousuario==='admin'"><a class="menu__link" [routerLink]="['/usuarios']" routerLinkActive="active">Usuarios</a></li>
              <li  class="menu__item"><a class="menu__link" [routerLink]="['/externo']" routerLinkActive="active">Quienes somos?</a></li>
              <li  class="menu__item"><a class="menu__link" [routerLink]="['/contacto']" routerLinkActive="active">Contacto</a></li>
            </ul>
          </nav>
        </div>
       <div class="main-header__container">
          <span class="main-header__txt">Necesitas ayuda?</span>
          <p class="main-header__txt"><i class="fas fa-phone-volume"></i> Llamanos! 7131300000</p>
        </div>-
        <div class="main-header__container">
          <div *ngIf="!usuario"><a class="login main-header__btn" [routerLink]="['/login']" routerLinkActive="active"><i class="fas fa-user"></i> Ingresa</a></div>
          <div *ngIf="usuario"><a class="perfil" routerLink="/usuario/{{id}}"  routerLinkActive="active" class="main-title main-text">Bienvenido {{usuario}}</a></div>
          <div *ngIf="usuario"><a  class="close-login main-header__btn"  (click)="logout()">Cerrar sesion</a></div>
          <a [routerLink]="['/carrito']" routerLinkActive="active" class="main-header__btn">Mi carrito <i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </header>
<main class="content main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
    <footer class="main-footer">
      <div class="footer__section">
        <h2 class="footer__title">Acerca de nosotros</h2>
        <p class="footer__txt">La empresa "Patitas Felices" se enorgullece de ser una empresa compormetida con el bienestar de nuestros amigos peludos.</p>
        <p class="footer__txt">Con mas de 10 años de experiencia, "Patitas Felices" es lider en la busqueda por ser la mejor empresa distribuidora de accesorios de primera necesidad de toda mascota en el pais.</p>
      </div>
      <div class="footer__section">
        <h2 class="footer__title">Mantente en contacto</h2>
        <p class="footer__txt">Hey, nosotros te escuchamos!!</p>
        <p class="footer__txt">Cualquier duda, cotizacion o aclaracion puedes hacernosla llegar mediante nuestro correo electronico:</p>
        <p class="footer__txt">happyPaws&#64;gmail.com</p>
      </div>
      <div class="footer__section">
        <h2 class="footer__title">Redes Sociales</h2>
        <a href="" class="footer__link"><i class="red_social_icon fab fa-facebook-square"></i> Facebook</a>
        <a href="" class="footer__link"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="" class="footer__link"><i class="fab fa-youtube"></i> Youtube</a>
      </div>
      <p class="copy">© 2021 "Patitas Felices". Todos los derechos reservados.</p>
    </footer>