<div class="content">
	<h2 class="main-title">Acerca de la empresa</h2>
	<div class="main-cuerpo">
		<p class="main-txt">
			La empresa "Patitas Felices" se enorgullece de ser una empresa compormetida con el bienestar de nuestros amigos peludos.
		</p>
		<p class="main-txt">Con mas de 10 años de experiencia, "Patitas Felices" es lider en la busqueda por ser la mejor empresa distribuidora de accesorios de primera necesidad de toda mascota en el pais.</p>
		<p class="main-txt">La historia de nuestra empresa se remonta hacia el 2010 cuando cansado de viajar grandes distancias para conseguir el alimento de mi mascota y viendo la necesidad de diversos vecinos, decidi abrir mi propia tienda de accesorios.</p>

		<p class="main-txt">Como dueños de mascotas sabemos la importancia de tus mascotas y por eso nos comprometemos a entregarle el mejor servicio.</p>
	</div>
</div>