/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "Pet-shop";
  src: url(./assets/fonts/Pet-Shop.otf);
}
@font-face{
  font-family: "cuerpo";
  src: url(./assets/fonts/TheStudentsTeacher-Regular.ttf);
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "tst";
  min-height: 100%;
  position: relative;
}
img{
  display: block;
  width: 100%;
}
html, body {
    height: 100%;
    background: whitesmoke;
}
.main{
  padding: 0 20px;
}
a{
  text-decoration: none !important;
  color: black;
}
.main-header{
  padding: 0 20px;
}
.main-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content:flex-start;
}
.main-header__title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
cursor: pointer;
  font-family: "Pet-shop";
}
.content{

  padding-bottom: 15px;
}
/*estilos menu*/
.main-nav{
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  pointer-events: none;
  transition: all 0.5s;
  /*z-index: 6;*/
}
.mostrar{
  opacity: 1;
  visibility: visible;
  z-index: 6;
  pointer-events: auto;
}
.ocultar{
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 0.1s;

}
.content{
  min-height: calc(100% - 300px);
}
.menu{
  position: absolute;
  top: calc(100% - 90%);
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item{
  text-align: center;
  margin: auto;
}
.menu__link{
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.menu__link:hover{
  background: #FF4E00;
}

.main-header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__link{
  color: #333;
  text-decoration: none;
  margin-bottom: 20px;
}
.icon-menu{
  font-size: 1.5em;
  border: 1px solid #454546;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: auto;
}

.main-header__call{
  color: red;
}
.main-header__btn{
  border: 1px solid #454546;
  color: #454546;
  display: block;
  padding: 10px;
  width: 110px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.main-header__input{
  display: block;
  padding: 10px;
  width: 50%;
}
.btn-shop{
  display: block;
  border: 1px solid #FF4E00;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  margin: 10px auto;
  transition: all 0.5s;
}
.btn-shop:hover{
  background: #FF4E00;
  color: white;

}

/*estilos productos*/
.container-products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.product__description{
  margin-bottom: 20px !important;
}
.product__new{
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  background: white;
}
.product__new:before{
  content: "Nuevo";
  background: red;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20;
  right: 10px;
  transform: rotate(-90deg);
  color: white;
}
.product{
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  background: white;
}
.product__title{
  text-align: center;
margin-bottom: 20px !important;
}
.product__price{
  color: #ff4e00;
  font-weight: bold;
}
.product__icon{
  display: block;
  margin-top: 20px 0;
}

.product__img{
  width: 100%;
    height: 100px;


  object-fit: fill;
}
.product__img:hover{
  cursor: pointer;
}
.product__shop{
  border: 1px solid #454546;
  color: #454546;
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  transition: all 0.5s;
}
.product__shop:hover{
  cursor: pointer;
  background: #FF4E00;
  color: white;
  border: 1px solid #FF4E00;
}
/*explora*/
.container-editor{
  margin-top: 30px;
}
.editor__item{
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.editor__img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.editor__circle{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  right: -150px;
  color: white;
  padding: 20px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}
.editor__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 2;
  transition: all 0.5s;
}
.editor__item:hover:before{
  opacity: 1;
}
.editor__item:hover .editor__circle {
  transform: scale(1.2);
  bottom: -90px;
  right: -50px;
  z-index: 3;
}

/*tips*/
.container-tips{
  margin: 20px;
  text-align: center;
}
.tip i{
  font-size: 2em;
  color: #333;
  padding: 20px 0;
}
.tip .btn-shop{
  color: #333;
}
.tip .btn-shop:hover{
  color: white;
}
/*footer*/
.main-footer{
  background: #151515;
  color: white;
  padding: 30px 20px;
  clear: both;
}
.footer__title{
  border-bottom: 1px dotted #555;
  padding-bottom: 20px;
}
.footer__txt{
  color: #555;
}
.footer__link{
  color: #555;
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
.copy{
  color: #555;
}

/*estilos tablet*/
@media screen and (min-width: 768px){
  .editor__item{
    height: 400px;
  }
  .container-tips{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .main-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .copy{
    grid-column-start:span 3;
    text-align: center;
  }
}
/*estilos web*/
@media screen and (min-width: 1024px){ 
  
  .container{
    width: 1000px;
    margin: auto;
  }
  .container-slider{
    width: 1000px;
    margin: auto;
  }
  .icon-menu{
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content:flex-start;
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
    padding: 0,20px;
    padding-left: 20px;
  }

  .main-header__title{
    width: 100%;
    font-size: 4em;
    margin: 0;
    border-bottom: 1px solid #ccc;
cursor: pointer;
    
  }
  .main-header__link{
    margin-bottom: 20px;
  }
  .main-header__btn{
    width: 110px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
  }
  .main-nav{
    opacity: 1;
    visibility: visible;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 6;
  pointer-events: auto;
  }
  .menu{
    position: static;
    width: 100%;
    display: flex;
    background: none;
  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #FF4E00;
    color: white;
    transition: all 0.5s;
  }
  .main-header__btn:hover{
  cursor: pointer;
  background: #FF4E00;
  color: white;
  border-color: #FF4E00;
}

  .editor__item{
    height: 450px;
  }
  .container-products{
    grid-template-columns: repeat(4, 1fr);
  }
  .product__img{
    height: 160px;
  }
  .container-editor{
    display: flex;
    justify-content: space-between;
  }
  .editor__item{
    width: 49%;
  }

}
@media screen and (min-width: 1280px){ 
  .container{
    width: 1200px;
  }
  .container-slider{
    width: 1200px;
  }
  .main-header__container:nth-child(3){
    padding-left: 50px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.3em;
  }
  .product__img{
    height: 180px;
  }
}
@media screen and (min-width: 1600px){ 
  .container{
    width: 1500px;
  }
  .container-slider{
    width: 1500px;
  }
  .main-header__container:nth-child(3){
    padding-left: 80px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .product__img{
    height: 200px;
  }
}